@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Irvine, CA<br />
</address>

<address>
    <strong>Author:</strong><a href="mailto:chihweisoft@gmail.com">Will Liu</a>
</address>